<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>
<style>
    video{
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: auto;
        z-index: -100;
    }
</style>
<ion-content padding>
    <h2>Patient/Doctor Calling Prototype</h2>
    <button ion-button (click)="hangup()" [hidden]="user_type == 0 || call_status != 'In Progress'">End Call</button>
    <button ion-button (click)="call()" [hidden]="user_type == 0 || call_status != 'Pending' || !case_id">Call</button>
    <ion-item [hidden]="user_type == 0">
        <ion-label floating>Please select a case:</ion-label>
        <ion-select type="select" [(ngModel)]="case_id" (ionChange)="select_case($event)">
            <ion-option *ngFor="let case of cases" [value]="case.id">
                {{case.name}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="user_type == 0 && call_status == 'Finished'">
        <rating [(ngModel)]="evaluation"></rating>
    </ion-item>
    <ion-item *ngIf="user_type == 0 && call_status == 'Finished'">
        <button ion-button (click)="submit_evaluation($event)">Submit Evaluation</button>
    </ion-item>
    <ion-item [hidden]="call_status != 'In Progress'">
        <ion-label>Remote Video</ion-label>
    </ion-item>
    <ion-item [hidden]="call_status != 'In Progress'">
        <video id="remoteVideo" autoplay playsinline></video>
    </ion-item>
    <ion-item>
        <ion-label>Your Video</ion-label>
    </ion-item>
    <ion-item>
        <video id="localVideo" autoplay muted playsinline></video>
    </ion-item>

    <ion-item>
        <ion-label>Case Number: {{case_id}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label [innerHTML]="question_answer"></ion-label>
    </ion-item>
    <ion-img width="100%" height="100%" src="{{photo}}"></ion-img>
    <ion-item *ngIf="user_type == 1 && (call_status == 'In Progress' || call_status == 'Finished')">
        <ion-label>Notes</ion-label>
        <ion-textarea [(ngModel)]="notes"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="user_type == 1 && (call_status == 'In Progress' || call_status == 'Finished')">
        <button ion-button (click)="submit_notes($event)">Save Notes</button>
    </ion-item>
    <ion-item *ngIf="user_type == 0 && (call_status == 'In Progress' || call_status == 'Finished')">
        <ion-label>Notes</ion-label>
        <ion-textarea [(ngModel)]="notes"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="user_type == 0 && (call_status == 'In Progress' || call_status == 'Finished')">
        <button ion-button (click)="receive_notes($event)">Receive Notes</button>
    </ion-item>
    <ion-item *ngIf="user_type == 1 && call_status == 'Finished'">
        <ion-label>Were you able to help the patient?</ion-label>
        <ion-select [(ngModel)]="case_result">
            <ion-option value="yes">Yes</ion-option>
            <ion-option value="no">No</ion-option>
            <ion-option value="other">other</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="user_type == 1 && (call_status == 'Finished') && case_result=='other'">
        <ion-textarea [(ngModel)]="other_notes"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="user_type == 1 && (call_status == 'Finished')">
        <button ion-button (click)="submit_result($event)">Send Result</button>
    </ion-item>
    <ion-item>
        <button ion-button (click)="toggle_configuration($event)">Configuration</button>
    </ion-item>
    <ion-item [hidden]="!show_configuration">
        <ion-label floating>Please select an audio output:</ion-label>
        <ion-select type="select" [(ngModel)]="audio_device_id" (ionChange)="setAudioOutput($event)">
            <ion-option *ngFor="let audio_device of audio_devices" [value]="audio_device.id">
                {{audio_device.label}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item [hidden]="!show_configuration">
        <ion-label floating>Please select an video source:</ion-label>
        <ion-select type="select" [(ngModel)]="video_device_id" (ionChange)="getUserMedia($event)">
            <ion-option *ngFor="let video_device of video_devices" [value]="video_device.id">
                {{video_device.label}}
            </ion-option>
        </ion-select>
    </ion-item>
</ion-content>